<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>4</key>
        <dict>
            <key>password</key>
            <string>654321</string>
            <key>account</key>
            <string>wxstest</string>
        </dict>
        <key>1</key>
        <dict>
            <key>password</key>
            <string>123654</string>
            <key>account</key>
            <string>TESTUSER11020</string>
        </dict>
        <key>5</key>
        <dict>
            <key>isVisitor</key>
            <string>游客25DD1466</string>
            <key>account</key>
            <string>25DD1466C5D1884D989156A657B189FF</string>
        </dict>
        <key>2</key>
        <dict>
            <key>password</key>
            <string>111111</string>
            <key>account</key>
            <string>lps001</string>
        </dict>
        <key>3</key>
        <dict>
            <key>password</key>
            <string>123654</string>
            <key>account</key>
            <string>TESTUSER11021</string>
        </dict>
    </dict>
</plist>
