<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>G:\svnProject\innet\client\trunk\buyu\simulator\win32\buyu.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>G:\svnProject\innet\client\trunk\buyu\src</StartWorkingDirectory>
  </propertyGroup>
</Project>